---

const {data} = Astro.props;
console.log("DATA SLUG",data.slug)

---

<div class="garments">
<div class="article">
    <article>
        <div>
         <a href={`/garment/${data.slug}`}>
            <div class="billede1">
            <img src={data.billede} alt="billede">
        </div>
    </a><div class="container">
            <div class="heart" id="heart" onclick="skiftBillede()"></div>
        </div>
    <a href={`/garment/${data.slug}`} class="article1">
        <div class="overskrift">
        <h3>{data.overskrift}</h3>
    </div>
            <div class="tekst1">
                <h4><span class="normal-text">{data.price} DKK</span></h4>
            </div>
            <div class="tekst" >
                <h5>Størrelse: <span class="normal-text">{data.size}</span></h5>
            </div>
        </a>
        </article>
    </div>

</div>


<style>
    img {
        width: 100%;
    }
    h5 {
    font-weight: lighter;
	font-size: 1rem
    }
    
    @media screen and (min-width: 768px){
    .garments {
        display: grid;
    }
    .article {
        text-decoration: none;
        color: black;
        background-color: rgba(243, 236, 217, 0.40);
        margin-bottom: 120px;
    }
    .article1 {
        text-decoration: none;
        color: black;
    }
    .billede1{
        margin: 30px;
    }
    .overskrift {
        margin-left: 30px;
    }
    .tekst {
        margin-left: 30px;
        font-family: "Mazius display", sans-serif;
    }
    .tekst1 {
        margin-left: 30px;
        font-family: Mattone;
    }
    .container {
        display: grid;
        grid-template-columns: 1fr auto;
        margin-left: 83%;
    }
    .heart {
    width: 29px;
    height: 22px;
    background-image: url('/public/vectors/heart.svg');
    background-size: cover;
    cursor: pointer;
    }
    .heart:hover, .heart.clicked {
        background-image: url('/public/vectors/heart-fill.svg');
    }
}
    @media screen and (max-width: 768px) {  
        .garments {
    } 
    .overskrift {
        margin-left: 16px;
    }
    .article {
        text-decoration: none;
        color: black;
        background-color: rgba(243, 236, 217, 0.40);
        margin-bottom: 20px;
        margin-left:5px;
        padding-bottom: 20px;
        margin-right:5px

    }  
    .article1 {
        text-decoration: none;
        color: black;
        padding-bottom: 20px;
    }
    .tekst {
        margin-left: 16px;
        font-family: "Mazius display", sans-serif;
    }
    .tekst1 {
        margin-left: 16px;
        font-family: Mattone;
    }
    .container {
        display: grid;
        grid-template-columns: 1fr auto;
        margin-left: 83%;
    }
    .billede1{
        margin: 16px;
        padding-top: 16px;
    }
    .heart {
    width: 29px;
    height: 22px;
    background-image: url('/public/vectors/heart.svg');
    background-size: cover;
    cursor: pointer;
    }
    .heart:hover, .heart.clicked {
        background-image: url('/public/vectors/heart-fill.svg');
    }
    }
</style>
